html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

html {
    font-size: 16px;
    box-sizing: border-box
}

body {
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #121416;
    font-family: now-alt, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-top: 80px;
}

body p {
    line-height: 1.5;
}

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}

@media (min-width:600px) {
    .container {
        max-width: 600px
    }
}

@media (min-width:720px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:1020px) {
    .container {
        max-width: 1020px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1200px
    }
}

@font-face {
    font-family: now-alt;
    src: url(../fonts/now-alt-300.woff2) format('woff2'), url(../fonts/now-alt-300.woff) format('woff');
    font-weight: 300;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: now-alt;
    src: url(../fonts/now-alt-regular.woff2) format('woff2'), url(../fonts/now-alt-regular.woff) format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: now-alt;
    src: url(../fonts/now-alt-500.woff2) format('woff2'), url(../fonts/now-alt-500.woff) format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: now-alt;
    src: url(../fonts/now-alt-700.woff2) format('woff2'), url(../fonts/now-alt-700.woff) format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none
}

h1,
h2,
h3,
h4 {
    font-family: Prata, serif
}

.site-header {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #e9ecef
}

.navbar-nav {
    height: 80px
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0
}

.navbar-col {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.navbar-brand a {
    max-width: 220px;
    margin-right: 2rem;
    display: flex
}

.navbar-brand a svg {
    width: 100%;
    height: auto
}

.navbar-brand a svg path {
    transition: 200ms ease-in;
    transition-property: fill
}

.navbar-brand a:hover svg path {
    fill: #00a0dd
}

.navigation ul li {
    margin: 0 .25rem;
    position: relative;
    height: 100%
}

.navigation>ul>li>a {
    font-size: .8125rem;
    font-weight: 500;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    line-height: 100%
}

.navigation>ul>li.menu-item-has-children a {
    position: relative;
    padding-right: 1.25rem
}

.navigation>ul>li.menu-item-has-children:after {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    content: "\e902";
    font-family: icomoon!important
}

.navigation .menu-item-has-children ul.sub-menu {
    background: #fff;
    flex-direction: column;
    align-items: flex-start;
    padding: .5rem 0;
    border: 1px solid #e9ecef;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transform: translateY(5px);
    transition: 200ms ease-in;
    transition-property: opacity, visibility, transform;
}

.navigation .menu-item-has-children ul.sub-menu li {
    margin: .25rem
}

.navigation>ul>li.menu-item-has-children ul a {
    min-width: 220px;
    padding: .6875rem 1.25rem;
    font-size: .8125rem;
    font-weight: 400;
    display: flex;
    transition: 150ms ease-in;
    transition-property: background;
    border-radius: .25rem
}

.navigation>ul>li.menu-item-has-children ul a:hover {
    background: #E1F7FF
}

.navigation>ul>li.menu-item-has-children ul>li {
    margin: 0
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.navigation>ul>li.menu-item-has-children:hover .sub-menu {
    visibility: visible;
    transform: translateY(0);
    opacity: 1
}

.navigation>ul>li.menu-item-has-children a {
    position: relative;
}

.navigation>ul>li>a:before {
    width: 90%;
    content: '';
    position: absolute;
    height: 1px;
    background: #121416;
    bottom: calc(50% - 2ch);
    left: 50%;
    transform: translate(-50%, 5px);
    transition: 200ms ease-in;
    opacity: 0;
    transition-property: transform, opacity;
}

.navigation>ul>li:hover>a:before {
    transform: translate(-50%, 0px);
    opacity: 1;
}

button.button {
    text-decoration: none;
    background: #fff;
    border: 1px solid #000;
    font-size: .9rem;
    font-weight: 500;
    padding: .6rem 1.5rem;
    cursor: pointer
}

button.site-search {
    padding: .35rem .5rem;
    font-size: 1.2rem;
    margin-left: 1rem;
    border: none;
    background: 0 0;
    transition: 150ms ease-in;
    transition-property: background;
    border-radius: .25rem
}

button.site-search:hover {
    background: #E1F7FF;
    cursor: pointer
}

.category-dash {
    transition: 150ms ease-in;
    transition-property: color;
}

.category-dash:after {
    display: inline-block;
    vertical-align: middle;
    margin: 0 .25em;
    content: '';
    width: 1rem;
    height: 1px;
    color: #000;
    background: #000
}

.page-header {
    background: #f8f9fa;
    position: relative;
    padding: 3rem 0;
}

.page-head-content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

.top-title {
    font-family: Prata, serif;
    font-size: 1rem;
}

.page-header .page-title {
    margin: 0;
    font-size: 3rem;
    line-height: 1.2;
}

.head-authors {
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    flex: 0 0 340px;
    max-width: 340px;
}

.page-sub-title {
    font-size: 0.6875rem;
    font-weight: 500;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}

.posts-count {
    color: #a0a0a0;
    font-size: 0.6875rem;
    font-weight: 400;
    text-transform: uppercase
}

.active-cat {
    background: #CAF0FF;
}

.page-header .post-details {
    margin-bottom: 1rem;
}

.decore-word {
    font-family: now-alt, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
}

.cat-descr {
    margin-top: 1.5rem;
}

.page-header .page-head-info {
    flex: 0 0 calc(100% - 340px);
    max-width: calc(100% - 340px);
    position: relative;
    width: 100%;
    padding-right: 40px;
    padding-left: 20px;
}

.post-details,
.post-title {
    font-family: now-alt, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.post-details .post-info a {
    font-size: .6875rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: .2s color ease;
    line-height: 1;
    display: inline-flex
}

.post-details .post-info a:hover {
    color: #00a0dd
}

.post-info {
    padding-left: .5rem
}

.post-info .author-role,
.post-meta {
    font-size: .6875rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: .25rem
}

h2.post-title {
    font-size: 1.5rem;
    line-height: 1.5
}

.post-title {
    font-weight: 500;
    letter-spacing: -.0125em;
    text-transform: none
}

.post-title a:hover .category-dash {
    color: #00a0dd;
}

.title-line {
    transition: 200ms ease-in;
    transition-property: opacity;
}

.post-title a:hover .title-line {
    opacity: 0.7;
}

.post-title .title-wrap {
    font-family: Prata, serif;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: capitalize
}

.post-author {
    display: flex;
    margin-right: 1rem;
    align-items: flex-start
}

img.avatar-small {
    width: 40px;
    height: 40px
}

img.avata-photo {
    border-radius: 100%
}

.post-inner:not(:last-child) {
    margin-bottom: 30px
}

.post-header,
.post-meta {
    margin-top: 1rem
}

.post-meta {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0;
    list-style: none
}

.post-meta>li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase
}

.post-meta>li+li {
    margin-left: 1rem
}

.post-meta .icon {
    color: #a8aab2;
    margin-right: .25rem
}

.post-excerpt {
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 400;
    margin: 1rem 0 0
}

article.post {
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    flex: 0 0 50%;
    width: 100%;
    max-width: 50%
}

article.post+article.post {
    margin-bottom: 4rem
}

.category-main {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px
}

.thumbnail-overlay {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden
}

.thumbnail-overlay:before {
    content: '';
    display: table;
    box-sizing: border-box;
    width: 0;
    height: 100%;
    padding-bottom: 100%
}

.thumbnail-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex: 0 0 100%
}

.thumbnail-background img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%
}

.thumbnail-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px
}

.site-main {
    flex: 0 0 calc(100% - 340px);
    max-width: calc(100% - 340px);
    position: relative;
    width: 100%;
    padding-right: 40px;
    padding-left: 20px
}

.post-sidebar {
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    flex: 0 0 340px;
    max-width: 340px;
    display: flex;
    flex-direction: column
}

.aside-post .post-meta {
    margin: 1rem 0;
    justify-content: center
}

aside h5.post-title {
    text-align: center;
    font-size: 1.5rem;
    margin: 0
}

aside .post-title .title-line {
    display: inline-block
}

aside .post-title .title-line::first-line {
    font-family: now-alt, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500
}

.widget-title h5 {
    font-size: .6875rem;
    font-weight: 500;
    letter-spacing: .025em;
    text-transform: uppercase;
    color: #000;
    position: relative;
    margin: 0
}

.widget-title:after {
    border-top: 1px solid #e9ecef;
    margin: 0 0 0 1rem;
    flex: 1 0 1rem;
    width: 100%;
    content: ''
}

.widget-title {
    display: flex;
    width: 100%;
    margin-bottom: 1.5rem;
    justify-content: flex-start;
    align-items: center
}

.widget+.widget {
    margin-top: 2.5rem
}

.widget .post-header {
    margin: 0
}

.widget .post-list {
    list-style: none;
    padding: 0;
    margin: 0
}

.widget .post-outer {
    position: relative;
    display: flex
}

.widget .post-data {
    flex-grow: 1;
    width: 100%
}

aside .widget .post-list .post-thumbnail {
    position: relative;
    flex: 0 0 85px;
    margin-left: .75rem;
    overflow: hidden
}

aside .widget .post-list .post-title {
    font-size: 1rem;
    text-align: left;
    line-height: 1.5
}

aside .widget .post-list .thumbnail-overlay:before {
    padding-bottom: 125%
}

aside .widget .post-list .post-link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0
}

aside .widget .post-list .post-header {
    margin-top: 1rem
}

aside .sidebar {
    position: sticky;
    bottom: 2rem;
    margin-top: auto;
    flex: 0 0 auto
}

.widget .list-el .post-data {
    margin-bottom: 0
}

.post-number {
    background: #FAFAFA;
    flex: 0 0 40px;
    border-radius: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    transition: 150ms ease-in;
    transition-property: color, background
}

aside .widget .post-list .post-link:hover+.post-details .post-number {
    background: #00a0dd;
    color: #fff
}

.post-list>li+li {
    border-top: 1px solid #e9ecef;
    margin-top: 2rem;
    padding-top: 2rem
}

.subscrube-message {
    font-size: 1.5rem;
    line-height: 1.25;
    letter-spacing: 0;
    color: inherit;
    margin-bottom: 1.5rem;
    font-weight: 500
}

.subscrube-form {
    background: #fafafa;
    padding: 40px
}

.form-items {
    display: flex;
    align-items: stretch
}

.subscription {
    display: block
}

input.form-control {
    background: 0 0;
    border: transparent;
    border-bottom: 1px solid #dee2e6;
    padding: .25rem;
    line-height: 1;
    -webkit-transition: color .2s;
    transition: color .2s;
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    font-size: .6875rem;
    font-weight: 400;
    text-transform: uppercase
}

input.form-control::placeholder {
    color: #000
}

input.form-control:focus::placeholder {
    color: #a0a0a0
}

input.form-control:focus {
    outline: 0
}

button.subscribe-submit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: transparent;
    background: 0 0;
    padding: 0 0 0 .5rem;
    transition: .4s ease;
    transition-property: opacity;
    font-size: .6875rem;
    font-weight: 500;
    letter-spacing: .125em;
    text-transform: uppercase;
    cursor: pointer
}

button.subscribe-submit i {
    font-size: .9rem
}

.privacy {
    font-weight: 400;
    font-size: .75rem;
    text-transform: none;
    letter-spacing: 0;
    margin-top: 1.5rem
}

.privacy label {
    user-select: none;
    color: #a0a0a0;
    line-height: 1.5;
    cursor: pointer
}

.privacy input[type=checkbox] {
    margin-right: .5rem
}

.load-button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: relative;
    z-index: 1;
    padding: .75rem 6rem;
    min-width: 18.875rem;
    min-height: 3.375rem;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .125em;
    text-transform: uppercase;
    line-height: 1;
    cursor: pointer
}

.load-button i {
    margin-left: .5rem;
    font-size: 1.25rem;
    display: inline-block
}

.site-content {
    margin-top: 4rem;
    margin-bottom: 6rem
}

.footer {
    background-color: #FAFAFA
}

.footer-logo {
    max-width: 200px;
    display: block
}

.footer-logo img {
    width: 100%
}

.footer-info {
    padding: 3rem 0
}

.site-info {
    display: flex;
    margin-left: -10px;
    margin-right: -10px
}

.footer-col {
    position: relative;
    width: 100%;
    max-width: 33.33%;
    flex: 0 0 33.33%;
    padding: 0 10px
}

.footer-copyright {
    font-size: .85rem;
    color: #a8aab2
}

.footer-links ul {
    padding: 0;
    margin: 0 0 0 1.8rem;
    list-style: none;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start
}

.footer-links {
    margin-top: 1.5rem;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start
}

.footer-links ul li {
    font-size: .85rem
}

.footer-links ul li a {
    border-bottom: 1px solid #000
}

.footer-links ul li+li {
    margin-left: 1.8rem
}

.footer-menu ul,
.inline-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap
}

.footer-menu ul {
    margin-left: -.75rem;
    margin-right: -.75rem
}

.footer-menu ul li {
    margin: 0 .35rem
}

.footer-menu ul li a {
    padding: .5rem;
    display: inline-flex;
    font-size: .85rem;
    font-weight: 500;
    transition: 150ms ease-in;
    transition-property: background;
    border-radius: .125rem
}

.footer-menu ul li a:hover {
    background: #CAF0FF
}

.social-links {
    display: flex;
    justify-content: flex-end;
    margin-top: -.35rem
}

.social-links ul li a span {
    color: #A8AAB2;
    margin-left: .25rem;
    font-size: .8rem;
    vertical-align: middle
}

.social-links ul li a {
    padding: .5rem;
    display: inline-block
}

.social-links ul li a i {
    font-size: 1.2rem;
    display: inline;
    vertical-align: middle
}

.mobile-icon {
    width: 42px;
    flex: 0 0 42px;
    height: 42px;
    display: none;
    margin-left: -1rem;
}

@media (max-width:1019px) {
    .post-sidebar,
    .site-main,
    .head-authors,
    .page-header .page-head-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .site-main,
    .page-header .page-head-info {
        padding-right: 20px;
    }
    .post-sidebar {
        margin-top: 5rem;
    }
    .sidebar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-right: -20px;
        margin-left: -20px;
    }
    .widget+.widget {
        margin-top: 0;
    }
    .widget {
        flex: 0 0 50%;
        width: 100%;
        max-width: 50%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .widget:last-child {
        margin-top: 2rem;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .top-authors {
        display: inline-flex;
        flex-wrap: wrap;
    }
    .navigation {
        display: none;
    }
    .navbar-content {
        height: 50px;
    }
    body {
        padding-top: 50px;
    }
}

@media (max-width:601px) {
    .category-main,
    .main-content {
        margin: 0;
    }
    .site-main {
        padding: 0;
    }
    article.post {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    article.post+article.post {
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
    .load-more {
        margin-top: 2rem;
    }
    .sidebar {
        margin: 0;
    }
    .widget {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0px;
    }
    .post-sidebar {
        padding: 0;
    }
    .widget+.widget {
        margin-top: 2rem;
    }
    .widget:last-child {
        margin-bottom: 2rem;
    }
    .top-authors {
        display: flex;
        overflow-x: auto;
        overflow-y: visible;
        scroll-snap-type: x mandatory;
        margin-left: -20px;
        margin-right: -20px;
        flex-wrap: nowrap;
        position: relative;
    }
    .top-authors .author {
        flex: 0 0 40px;
    }
    .top-authors .post-info {
        white-space: nowrap;
    }
    .top-authors .post-details {
        min-width: fit-content;
    }
    .top-authors:after,
    .top-authors:before {
        content: "";
        display: block;
        position: relative;
        min-width: 20px;
        width: 20px;
        height: 1px;
    }
    .navbar-brand a {
        max-width: 180px;
        margin: 0;
    }
    .navbar-col .button {
        display: none;
    }
    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .hamRotate.active {
        transform: rotate(45deg);
    }
    .hamRotate180.active {
        transform: rotate(180deg);
    }
    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #121416;
        stroke-width: 5.5;
        stroke-linecap: round;
    }
    .ham1 .top {
        stroke-dasharray: 40 139;
    }
    .ham1 .bottom {
        stroke-dasharray: 40 180;
    }
    .ham1.active .top {
        stroke-dashoffset: -98px;
    }
    .ham1.active .bottom {
        stroke-dashoffset: -138px;
    }
    .mobile-icon {
        display: block;
    }
    .navbar-content {
        justify-content: ;
    }
    .site-search {
        margin-right: -1rem;
    }
}

@media (max-width:720px) {
    .footer-col {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .site-info {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-logo {
        margin-bottom: 2rem;
    }
    .footer .footer-menu {
        margin-bottom: 1rem;
    }
    .footer-links {
        flex-wrap: wrap;
    }
    .footer-copyright {
        order: 2;
    }
    .footer-links ul {
        margin-left: 0;
        flex-wrap: wrap;
    }
    .footer-links ul li+li {
        margin: 0;
    }
    .footer-links ul li {
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }
    .footer-copyright {
        margin-top: 2rem;
    }
    .social-links {
        justify-content: flex-start;
        margin-left: -0.5rem;
    }
    .subscrube-form {
        padding: 20px;
    }
}