@font-face {
    font-family: 'icomoon';
    src: url('./icomoon.eot?gpa9uk');
    src: url('./icomoon.eot?gpa9uk#iefix') format('embedded-opentype'), url('./icomoon.ttf?gpa9uk') format('truetype'), url('./icomoon.woff?gpa9uk') format('woff'), url('./icomoon.svg?gpa9uk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
    content: "\e900";
}

.icon-calendar:before {
    content: "\e901";
}

.icon-chevron-down:before {
    content: "\e902";
}

.icon-chevron-right:before {
    content: "\e903";
}

.icon-clock:before {
    content: "\e904";
}

.icon-facebook:before {
    content: "\e905";
}

.icon-instagram:before {
    content: "\e906";
}

.icon-mail:before {
    content: "\e907";
}

.icon-pause-circle:before {
    content: "\e908";
}

.icon-play-circle:before {
    content: "\e909";
}

.icon-search:before {
    content: "\e90d";
}

.icon-twitter:before {
    content: "\e90a";
}

.icon-volume-2:before {
    content: "\e90b";
}

.icon-youtube:before {
    content: "\e90c";
}